[submodule "server/jOOQ"]
	path = server/jOOQ
	url = https://github.com/FrankChen021/jOOQ.git
[submodule "server/opentelemetry/opentelemetry-proto"]
	path = server/opentelemetry/opentelemetry-proto
	url = https://github.com/FrankChen021/opentelemetry-proto.git
