/agent/dest/
/**/target/
/.idea/
**/*.iml
/**/.settings/
/**/.classpath
/**/.project
/**/.sts4-cache/
**/dependency-reduced-pom.xml
/logs/


/server/web-server/src/main/resources/static/bower_components/
