<!DOCTYPE HTML>
<html lang="zh_CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_common/layout}">
<head>
    <title>Bithon Logs - [[${store}]]</title>

    <!-- bootstrap select -->
    <script th:src="@{/lib/select2-4.0.13/js/select2.js}"></script>
    <link rel="stylesheet" th:href="@{/lib/select2-4.0.13/css/select2.min.css}">
    <link rel="stylesheet" th:href="@{/lib/select2-4.0.13/css/select2-bootstrap4.min.css}">

    <link rel="stylesheet" th:href="@{/css/site.css}">

    <script th:src="@{/lib/echarts5.0.1/echarts.min.js}"></script>
    <script th:src="@{/js/card-component.js}"></script>
    <script th:src="@{/js/chart-component.js}"></script>
    <script th:src="@{/js/utils/location.js}"></script>

    <script th:inline="javascript">
        let g_SelectedApp = window.queryParams['appName'];
        let g_SelectedInstance = window.queryParams['instanceName'];
        let g_MetricSelectedInterval = window.queryParams['interval'];
    </script>
    <script th:src="@{/js/api-client/schema-api.js}"></script>
    <script th:src="@{/js/component/dashboard/component.js}"></script>
    <script th:src="@{/js/component/table/component.js}"></script>
    <script th:src="@{/lib/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
    <script th:src="@{/lib/pro-sidebar/src/js/main.js}"></script>
    <script th:src="@{/js/api-client/metadata-client.js}"></script>
    <script th:src="@{/js/api-client/dashboard-api.js}"></script>
    <script th:src="@{/js/component/sidebar/component.js}"></script>
    <script th:src="@{/js/component/auto-refresher/component.js}"></script>
    <script th:src="@{/js/component/time-interval/component.js}"></script>
    <script th:src="@{/js/component/app-selector/component.js}"></script>

    <style>
        .word-wrap {
            /* CSS 3 */
            white-space: -o-pre-wrap;
            word-wrap: break-word;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
        }

        .table th, .table td {
            font-size: 0.8em;
            padding: 0.5rem;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <!-- page-content  -->
    <main class="page-content">
        <nav id="filterContainer" class="navbar navbar-expand-lg navbar-light bg-light"
             style="padding-left: 5px; padding-right: 5px">
            <div class="collapse navbar-collapse">

                <ul class="navbar-nav mr-auto mt-2 mt-lg-0" id="filterBar">
                    <!-- Log store filter -->
                    <li class="nav-item active">
                        <select id="logStore" style="width:220px">
                        </select>
                    </li>

                    <!-- Dashboard filters-->
                </ul>
                <form class="form-inline my-2 my-lg-0" id="filterBarForm">
                </form>
            </div>
        </nav>

        <div style="padding-top: 10px; padding-left: 5px; padding-right: 5px" id="logContainer"></div>
    </main>

    <script th:inline="javascript">
        const g_logStore = [[${store}]];
        const g_logStoreDisplayName = [[${storeDisplayName}]];

        /**
         * @param search keyword of the search
         * @param data { results: [] }
         */
        function filterUserInput(search, data) {
            if (search === undefined || search == null || search.length === 0) {
                return data;
            }
            search = search.toLowerCase();

            const newItems = [];
            for (let i = 0; i < data.results.length; i++) {
                const item = data.results[i];
                if (item.search.indexOf(search) > -1) {
                    newItems.push(item);
                }
            }

            // because the 'data' has been cached, we can't change it
            // So, return a new object instead
            return {results: newItems};
        }

        var g_storeList = {};
        // The following 'transport' function is based on: https://github.com/select2/select2/issues/110#issuecomment-694495292
        function getAndCache(cacheName, params, success, failure, processResults) {
            const search = params.data['term'];
            delete params.data['term'];

            if (g_storeList.results !== undefined) {
                success(filterUserInput(search, g_storeList));
                return; /* noop */
            }

            const $request = $.ajax(params);
            $request.then((data) => {
                if (processResults !== undefined) {
                    data = processResults(data);
                }

                //store data in cache
                g_storeList = data;

                //display the results
                success(g_storeList);
            });
            $request.fail(failure);
            return $request;
        }

        const logStoreFilter = $('#logStore').select2({
            theme: 'bootstrap4',
            dropdownAutoWidth: true,
            placeholder: 'Choose a log store',
            ajax: {
                cache: true,
                type: 'GET',
                url: apiHost + '/web/api/dashboard/names?folder=log',
                dataType: "json",
                contentType: "application/json",

                transport: (params, success, failure) => getAndCache('applications',
                    params,
                    success,
                    failure,
                    (itemList) => {
                        return {
                            results: itemList.map(item => {
                                return {
                                    id: item.value,
                                    text: item.text,
                                    search: item.text.toLowerCase()
                                };
                            })
                        };
                    })
            },
        });

        if (g_logStoreDisplayName !== '') {
            logStoreFilter.append(`<option value=${g_logStore}>${g_logStoreDisplayName}</option>`).change();
        }
        logStoreFilter.on('change', (event) => {
            if (event.target.selectedIndex !== null && event.target.selectedIndex >= 0) {
                const selectedStore = event.target.selectedOptions[0].value;

                if (selectedStore === g_logStore) {
                    return;
                }

                // Check if the log store exists because the current select2 allows to edit,
                // use might key in a valid log store name
                if (g_storeList.results !== undefined) {
                    const foundStore = g_storeList.results.filter((store) => store.id === selectedStore);
                    if (foundStore.length > 0) {
                        window.location.href = '/web/log/' + selectedStore;
                    }
                }
            }
        });

        if (g_logStore !== '') {
            $(document).ready(function () {

                new DashboardApi().getDashboardConfig(g_logStore,
                    (boardConfig) => {
                        // Initialize dashboard
                        const dashboard = new Dashboard('logContainer',
                            g_logStore,
                            window.queryParams['interval'],
                            false);
                        dashboard.load(boardConfig);

                        $(window).bind('resize', () => {
                            dashboard.resize();
                        });
                    }, (error) => {
                        alert(error.responseText);
                    });
            });
        }
    </script>
</div>
</body>
</html>
