<!DOCTYPE HTML>
<html lang="zh_CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_common/layout}">
<head>
    <title>Bithon</title>

    <!-- tree grid -->
    <link rel="stylesheet" type="text/css" th:href="@{/lib/jquery-treegrid-0.2/css/jquery-treegrid.min.css}"/>
    <script th:src="@{/lib/jquery-treegrid-0.2/js/jquery-treegrid.min.js}"></script>
    <script th:src="@{/lib/bootstrap-table/extensions/treegrid/bootstrap-table-treegrid.min.js}"></script>
</head>
<body>
<div style="padding:20px;"  layout:fragment="content">
    <nav class="navbar navbar-dark bg-dark fixed-top ">
        <!-- Navbar content -->
        <a class="navbar-brand" href="#">Bithon</a>
    </nav>
    <div class="container" style="padding-top:50px">
    <table id="table"></table>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var traceId = /*[[${traceId}]]*/;
        /*]]>*/
        var apiHost = 'http://localhost:9897';
    </script>
    <script>
    var table = $('#table');
    table.bootstrapTable({
      url: apiHost + '/api/trace/getTraceById',
      method: 'post',
      contentType: "application/json",

      buttonsAlign: 'right',
      sidePagination: "server",

      treeEnable: true,
	  treeShowField: 'name',
      idField: 'spanId',
      parentIdField: 'parentSpanId',
      onPostBody: function() {
        var columns = table.bootstrapTable('getOptions').columns
        if (columns && columns[0][1].visible) {
          table.treegrid({
            treeColumn: 1,
            onChange: function() {
              table.bootstrapTable('resetView')
            }
          })
        }
      },

      queryParamsType: '',
      queryParams: function(params) {
        return {
            traceId: traceId,
        };
      },

      uniqueId: 'spanId',
      columns: [{
        field: 'appName',
        title: 'Application'
      }, {
        field: 'name',
        title: 'Component'
      }, {
        field: 'clazz',
        title: 'Method',
        formatter: function(value, row) {
            return row.clazz.split('.').pop() + '.' + row.method;
        }
      }, {
        field: 'costTime',
        title: 'Duration',
        formatter: function(value, row) {
            return secondsFormat(value*1000);
        }
      }, {
        field: 'startTime',
        title: 'Start Time',
        formatter: function(value, row) {
            return new Date(value).format('yyyy-MM-dd hh:mm:ss');
        }
      },{
        field: 'tags',
        title: 'Tags',
        formatter: function(value, row) {
            return '<pre>' + JSON.stringify(value,null,2) + '</pre>';
        }
      }]
    });

    </script>
</div>
</body>
</html>