<?xml version="1.0" encoding="UTF-8"?>
<configuration status="debug" monitorInterval="30">
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [Agent %p] - [%t:%C{1}] %m%n"/>
    </Console>

    <File name="log" fileName="log/agent-log.log" append="false">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [Agent %p] - [%t:%C{1}] %m%n"/>
    </File>

    <File name="ERROR" fileName="logs/agent-error.log">
      <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [Agent %p] - [%t:%C{1}] %m%n"/>
    </File>
  </appenders>
  <loggers>
    <root level="info">
      <appender-ref ref="Console"/>
    </root>
  </loggers>

</configuration>
