<!DOCTYPE HTML>
<html lang="zh_CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/app-layout}">
<head>
    <title>Bithon</title>
    <script th:src="@{/lib/bootstrap-table/extensions/treegrid/bootstrap-table-treegrid.min.js}"></script>
    <script th:inline="javascript">
        var appName = [[${appName}]];

    </script>
</head>
<body>
<div class="container" layout:fragment="content">
    <div id="topo"></div>
<script>

class TopoComponent {
    constructor() {
        //
        // App Filter
        //
        new AppSelector().childOf('appSelector').registerAppChangedListener((text, value)=>{
            window.appName = value;
            this.refreshTopo();
        });

        //
        // Create TimeInterval
        //
        var parent = $('#filterBarForm');
        new TimeInterval().childOf(parent).registerIntervalChangedListener((fn)=>{
            this._intervalGetter = fn;
            this.refreshTopo();
        });

       this._chart = new ChartComponent({
            containerId: 'topo',
            height: '600px'
       })
       .header('Application Topo');

       this._intervalGetter = ()=>{
            return {
                start: moment().utc().subtract(5, 'minute').local().toISOString(),
                end: moment().utc().local().toISOString()
            };
        };
    }

    refreshTopo() {
        var interval = this._intervalGetter.apply();
        this._chart.load({
            url: apiHost + '/api/topo/getApplicationTopo',
            ajaxData: JSON.stringify({
                startTimeISO8601: interval.start,
                endTimeISO8601: interval.end,
                application: appName
            }),
            processResult: (topo)=>{
                var chartOption = {
                    animationDurationUpdate: 1500,
                    animationEasingUpdate: 'quinticInOut',
                    series: [
                        {
                            type: 'graph',
                            layout: 'none',
                            symbolSize: 50,
                            roam: true,
                            label: {
                                show: true,
                                position: 'bottom'
                            },
                            edgeSymbol: ['circle', 'arrow'],
                            edgeSymbolSize: [4, 10],
                            edgeLabel: {
                                fontSize: 20
                            },
                            data: topo.endpoints.map(endpoint=>{
                                return {
                                    name: endpoint.name,
                                    x: endpoint.x,
                                    y: endpoint.y,
                                    symbol: `image:///images/nodes/${endpoint.type.toLowerCase()}.png`
                                };
                            }),
                            links: topo.links.map(link=>{
                                return {
                                    minRT: link.minResponseTime,
                                    maxRT: link.maxResponseTime,
                                    avgRT: link.avgResponseTime,
                                    callCount: link.callCount,
                                    source: link.srcEndpoint,
                                    target: link.dstEndpoint,
                                    label: {
                                        show: true,
                                        formatter: (val)=>{
                                            return `${val.data.callCount}, Min:${val.data.minRT}, Max:${val.data.maxRT}, Avg:${val.data.avgRT}`;
                                        },
                                        fontSize: 10
                                    },
                                    lineStyle: {
                                        curveness: 0.2
                                    }
                                };
                            }),
                            lineStyle: {
                                opacity: 0.9,
                                width: 2,
                                curveness: 0
                            }
                        }
                    ]
                };
                return chartOption;
            }
       });
    }
}

$(document).ready(()=>{
    new TopoComponent().refreshTopo();
});

</script>
</div>
</body>
</html>