<!DOCTYPE HTML>
<html lang="zh_CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/app-layout}" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Bithon Diagnosis</title>

    <script type="text/javascript" th:src="@{/js/app-card-component.js}"></script>

    <script type="text/javascript">
        function handleKeyDown(event) {
            if (event.keyCode === 13) {
                executeQuery();
            }
        }

        function executeQuery() {
            const sql = $('#sql').val();

            $('#sql').prop('disabled', true);
            $('button').prop('disabled', true);
            $('#progress').show();

            $.ajax({
                type: 'POST',
                url: apiHost + "/api/agent/query",
                data: sql,
                async: true,
                dataType: "json",
                contentType: "application/json",

                success: (data) => {
                    $('#errorMessage').hide();
                    try {
                        renderResult(data);
                    } catch (e) {
                        console.log(e);
                    }
                },
                error: (data) => {
                    $('#resultTable').hide();
                    $('#errorMessage').show();
                    if (data.responseJSON !== undefined) {
                        $("#errorMessage")[0].innerHTML = JSON.stringify(data.responseJSON, null, 2);
                    } else {
                        $("#errorMessage")[0].innerHTML = data.responseText;
                    }
                },
                complete: () => {
                    $('#sql').prop('disabled', false);
                    $('button').prop('disabled', false);
                    $('#progress').hide();
                }
            });
        }

        let gColumnNameToIndex = {};

        function renderResult(data) {
            gColumnNameToIndex = {};

            const vTable = $('#resultTable');

            const tableColumns = [];
            for (let i = 0; i < data.meta.columns.length; i++) {
                const columnName = data.meta.columns[i];
                tableColumns.push({
                    field: columnName,
                    title: columnName,
                    sortable: true,
                    formatter: createFormatterFunction(i)
                });

                gColumnNameToIndex[columnName] = i;
            }

            vTable.bootstrapTable('destroy')
                .bootstrapTable({
                    showRefresh: false,

                    columns: tableColumns,

                    sidePagination: 'client',
                    pagination: true,
                    pageSize: 200,
                    pageList: [200, 500, 1000],

                    serverSort: false,
                    sortResetPage: true,
                    sortable: true,
                    customSort: (sortName, sortOrder, data) => {
                        const order = sortOrder === 'desc' ? -1 : 1;
                        const index = gColumnNameToIndex[sortName];
                        data.sort((a, b) => {
                            const aa = a[index];
                            const bb = b[index];
                            if (aa < bb) {
                                return order * -1
                            }
                            if (aa > bb) {
                                return order
                            }
                            return 0
                        })
                    },

                    stickyHeader: true,
                    stickyHeaderOffsetLeft: parseInt($('body').css('padding-left'), 10),
                    stickyHeaderOffsetRight: parseInt($('body').css('padding-right'), 10),
                    theadClasses: 'thead-light',

                    data: data.rows
                }).show();
        }

        function createFormatterFunction(index) {
            return (value, row) => {
                return '<pre>' + row[index] + '</pre>';
            }
        }
    </script>
</head>
<body>
<div layout:fragment="content">
    <div id="dashboard"></div>

    <div class="input-group mt-3">
        <input type="text" id="sql" class="form-control" placeholder="Input the realtime diagnose expression here" onkeydown="handleKeyDown(event)"/>
        <div class="input-group-append">
            <button type="button" class="btn btn-primary" onclick="executeQuery()">Execute</button>
            <span class="input-group-text rounded-0"><a target="_blank" href="https://github.com/FrankChen021/bithon/tree/master/doc/diagnosis"><i class="far fa-question-circle"></i></a></span>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <i id="progress" class="fas fa-spinner fa-spin" style="padding: 10px; display: none"></i>
    </div>

    <div id="resultContainer" style="background: rgba(0,0,0,.03)">
        <table id="resultTable"></table>
        <pre id="errorMessage" style="display: none"></pre>
    </div>
    <script type="text/javascript">
        const instanceList = {
  "name": "application-overview",
  "folder": "metrics",
  "title": "Application Overview",
  "filter": {
    "selectors": [
      {
        "type": "datasource",
        "name": "jvm-metrics",
        "fields": [
          {"name": "appName", "width": 200, "allowClear":  false}
        ]
      }
    ],
    "interval": {
        "allowAutoRefresh": false,
        "list": [
            {id: "P5M", value: 5, unit: "minute", text: "Last 5m"}
        ]
    }
  },
  "charts": [
    {
      "title": "",
      "width": 4,
      "type": "table",
      "toolbar": {minimize: false, close: false},
      "columns": [
        {
          "name": "instanceName",
          "title": "instance",
          "format": "template",
          "template": "<a target='_blank' href='/web/metrics/jvm-metrics?appName={appName}&instanceName={instanceName}&interval=c:{interval}'>{instanceName}</a>"
        },
        {
          "name": "processCpuLoad",
          "format": "percentage"
        },
        "processors",
        {
          "name": "instanceStartTime",
          "title": "startTime",
          "format": "dateTime"
        },
        {
          "name": "instanceUpTime",
          "title": "upTime",
          "format": "timeDuration"
        },
        {
          "name": "heapUsed",
          "format": "percentage"
        },
        {
          "name": "heapMax",
          "format": "binary_byte"
        }
      ],
<!--      "pagination": [10],-->
      "query": {
        "dataSource": "jvm-metrics",
        "type": "groupBy",
        "fields": [
          "appName",
          "instanceName",
          "processors",
          "instanceStartTime",
          "instanceUpTime",
          {
            "name": "heapUsed",
            "expression": "round(last(heapUsed) * 100.0/last(heapMax), 2)"
          },
          "heapMax",
          "processCpuLoad"
        ],
        "orderBy": {
          "name": "instanceUpTime",
          "order": "asc"
        },
        "precondition": {
          "filters": [
            "appName"
          ]
        }
      }
    }]};

        $(document).ready(() => {
            const dashboard = new Dashboard('dashboard',
                'no-use-parameter',
                'P5M');
            dashboard.load(instanceList);

            $(window).bind('resize', () => {
                dashboard.resize();
            });
        });
    </script>
</div>
</body>
</html>
