<!DOCTYPE HTML>
<html lang="zh_CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_common/layout}">
<head>
    <title>Bithon</title>
</head>
<body>
<div style="padding:20px;" class="container" layout:fragment="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
        <!-- Navbar content -->
        <a class="navbar-brand" href="#">Bithon</a>
    </nav>
    <div id="appList"></div>

    <script type="text/javascript" th:src="@{/js/app-card-component.js}"></script>
    <script type="text/javascript">
        $(document).ready(() => {
            new AppCardComponent(apiHost, 'appList').loadAppList();
        });

    </script>
</div>
</body>
</html>