<!DOCTYPE HTML>
<html lang="zh_CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/app-layout}">
<head>
    <title>Bithon Home</title>

    <script type="text/javascript" th:src="@{/js/app-card-component.js}"></script>
</head>
<body>
<div style="padding:20px;" layout:fragment="content">
    <div id="appList"></div>

    <script type="text/javascript">
        $(document).ready(() => {
            $('#filterContainer').hide();
            new AppCardComponent(apiHost, 'appList').loadAppList();
        });
    </script>
</div>
</body>
</html>