<!DOCTYPE HTML>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script type="text/javascript" th:src="@{/lib/jquery3.5.1/jquery-3.5.1.js}"></script>
    <script type="text/javascript" th:src="@{/lib/jquery-validation.1.19.2/jquery.validate.js}"></script>

    <!-- moment -->
    <script type="text/javascript" th:src="@{/lib/moment/moment.js}"></script>
    <script type="text/javascript" th:src="@{/lib/moment-timezone/moment-timezone.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap4.6/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/lib/bootstrap4.6/js/bootstrap.min.js}"></script>

    <!-- bootbox code -->
    <script type="text/javascript" th:src="@{/lib/bootbox/bootbox.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/bootbox/bootbox.locales.min.js}"></script>

    <!-- bootstrap table -->
    <script type="text/javascript" th:src="@{/lib/bootstrap-table/bootstrap-table.js}"></script>
    <!--    <script type="text/javascript" th:src="@{/lib/bootstrap-table/locale/bootstrap-table-eu-US.min.js}"></script>-->
    <script type="text/javascript"
            th:src="@{/lib/bootstrap-table/extensions/filter-control/bootstrap-table-filter-control.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-table/bootstrap-table.css}"/>

    <link rel="stylesheet" th:href="@{/css/site.css}">

    <script th:src="@{/js/component/searchbar/component.js}"></script>
    <script th:src="@{/js/utils/number.js}"></script>
    <script th:src="@{/js/utils/time.js}"></script>

    <script th:inline="javascript">
        const apiHost = [[${apiHost}]];
    </script>

</head>
<body>
<div layout:fragment="content">

</div>
</body>
<script>
    new SearchBar();
</script>
</html>