<!DOCTYPE HTML>
<html lang="zh_CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_common/layout}">
<head>
    <title>Bithon Tracing Logs</title>

    <!-- tree grid style -->
    <link rel="stylesheet" type="text/css" th:href="@{/lib/jquery-treegrid-0.2/css/jquery-treegrid.min.css}"/>
    <script th:src="@{/lib/sql-formatter-4.0.2/sql-formatter.min.js}"></script>

    <script th:src="@{/js/component/tree-table/component.js}"></script>
    <script th:src="@{/js/utils/location.js}"></script>

    <script th:src="@{/lib/cytoscape.js-dagre/dagre-0.7.4.min.js}"></script>
    <script th:src="@{/lib/cytoscape.js-dagre/cytoscape-3.23.0.min.js}"></script>
    <script th:src="@{/lib/cytoscape.js-dagre/cytoscape-dagre.js}"></script>

    <style>
        .word-wrap {
            /* CSS 3 */
            white-space: -o-pre-wrap;
            word-wrap: break-word;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
        }
    </style>
</head>
<body>
<div style="padding-top:15px; padding-left: 5px; padding-right: 5px" layout:fragment="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="header">
        <!-- Navbar content -->
        <a class="navbar-brand" href="/web/home">Bithon</a>
    </nav>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-trace-tab" data-toggle="tab" href="#pills-trace" role="tab"
               aria-controls="pills-trace" aria-selected="true">Trace</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-map-tab" data-toggle="tab" href="#pills-map" role="tab"
               aria-controls="pills-map" aria-selected="false">Application Topo</a>
        </li>
        <li class="nav-item" id="tool-bar" style="position: absolute; right: 0; margin-right: 5px">
            <button class="btn btn-link" onclick="javascript: loadSpanLog()">Reload</button>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane show active" id="pills-trace" role="tabpanel" aria-labelledby="pills-trace-tab">
        </div>
        <div class="tab-pane fade" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab" style="height: 900px; width: 100%">
        </div>
    </div>

    <script>
        let interval = window.queryParams['interval'];
        if (interval != null) {
            const parts = decodeURIComponent(interval).split('/');
            interval = {
                start: parts[0],
                end: parts[1]
            };
        } else {
            //interval maybe undefined
            interval = null;
        }

        if (window.queryParams['embedded'] === '1') {
            $('#header').css('display', 'none');

            let href = window.location.origin + window.location.pathname + '/?';
            $.each(window.queryParams, (name, val) => {
                // Remove the 'embedded param
                if (name !== 'embedded')
                    href += `${name}=${val}&`;
            });
            $('#tool-bar').append(
                `<a target="_blank" href="${href}" class="btn btn-link">Open</a>`
            );
        } else {
            $('#pills-tab').css('padding-top', '50px');
        }

        let traceData = {};
        const vTreeTable = new TreeTable('#pills-trace', {
            treeColumn: 3,
            headerStyle: 'thead-light',
            rowStyle: (rows, rowIndex) => {
                if (rowIndex === 0
                    || rows[rowIndex].appName !== rows[rowIndex - 1].appName
                    || rows[rowIndex].instanceName !== rows[rowIndex - 1].instanceName
                ) {
                    return 'table-active';
                }
                return null;
            },
            columns: [{
                field: '__levelId',
                title: 'No',
                formatter: (value, row, index) => (index + 1)
            }, {
                field: 'appName',
                title: 'Application'
            }, {
                field: 'instanceName',
                title: 'Instance'
            }, {
                field: 'name',
                title: 'Component'
            }, {
                field: 'clazz',
                title: 'Method',
                formatter: function (value, row) {
                    if (row.clazz === "") {
                        return row.method;
                    } else {
                        // clazz holds the full qualified class name, here, display the simple class name

                        // first check if the name is with generic type info, these names are typically in some c++ applications
                        const braceIndex = row.clazz.lastIndexOf('<');
                        const lastDotIndex = row.clazz.lastIndexOf('.', braceIndex === -1 ? row.clazz.length - 1 : braceIndex);
                        const text = lastDotIndex > 0 ? row.clazz.substring(lastDotIndex + 1) + '.' + row.method : (row.clazz + '.' + row.method);
                        return text.replace("<", "&lt;").replace(">", "&gt;");
                    }
                }
            }, {
                field: 'costTime',
                title: 'Duration',
                formatter: function (value, row) {
                    return microFormat(value);
                }
            }, {
                field: 'startTime',
                title: 'Start Time',
                width: 140,
                formatter: function (value, row) {
                    // start time is in micro-second
                    return new Date(value / 1000).format('MM-dd hh:mm:ss.S');
                }
            }, {
                field: 'tags',
                title: 'Tags',
                formatter: function (value, row, globalRowIndex) {
                    let text = '<pre style="margin-bottom: 0">';
                    for (const propName in value) {
                        const propVal = value[propName];
                        const returnPos = propVal.indexOf('\n');
                        if (propName !== 'uri' && propName !== 'query_id' && (propVal.length > 30 || returnPos !== -1)) {
                            const truncateIndex = returnPos !== -1 ? Math.min(returnPos, 30) : 30;
                            text += `<b>${propName}</b>: ${propVal.substring(0, truncateIndex)}<a href="javascript:showTags(${globalRowIndex}, '${propName}')" class="badge badge-info">...</a><br/>`;
                        } else {
                            text += `<b>${propName}</b>: ${propVal}<br/>`;
                        }
                    }
                    text += '</pre>';

                    return text;
                }
            }]
        });

        function loadSpanLog() {
            vTreeTable.load({
                url: apiHost + '/api/trace/getTraceById',
                method: 'post',
                contentType: "application/json",
                data: () => {
                    return {
                        id: window.queryParams['id'],
                        type: window.queryParams['type'],
                        startTimeISO8601: interval === null ? null : interval.start,
                        endTimeISO8601: interval === null ? null : interval.end,
                        hierachy: true
                    };
                },
                responseHandler: (data) => {
                    traceData = data;
                    return data.spans;
                },
                getChildren: (span) => span.children
            });
        }

        loadSpanLog();
        let chartLoaded = false;

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            if (!e.target.href.endsWith('-map')) {
                return;
            }
            if (chartLoaded) {
                return;
            }

            const colors = ["#2F9323", "#D9B63A", "#2E2AA4", "#9F2E61", "#4D670C", "#BF675F", "#1F814A", "#357F88", "#673509", "#310937", "#1B9637", "#F7393C"];
            let colorIndex = 0;
            const appMap = {};
            traceData.topo.nodes.forEach((node) => {
                if (appMap[node.application] === undefined) {
                    appMap[node.application] = colorIndex++;
                }

                // set color
                node.color = colors[appMap[node.application]];
            });

            const maxLevel = traceData.topo.maxLevel;

            const nodes = traceData.topo.nodes.map((node) => {
                return {data: {id: node.name, tag: node}}
            });

            const links = traceData.topo.links.map((link) => {
                return {data: link}
            });

            let cy = window.cy = cytoscape({
                container: document.getElementById('pills-map'),

                boxSelectionEnabled: false,
                autounselectify: true,

                layout: {
                    name: 'dagre',
                    rankDir: 'LR',
                    animate: true,
                    nodeDimensionsIncludeLabels: true
                },

                style: [{
                    selector: 'node',
                    style: {
                        'background-color': (ele) => ele.data('tag.color'),
                        'label': (ele) => {
                            const instance = ele.data('tag.instance');
                            const app = ele.data('tag.application');
                            return instance === null ? app : app + '\n' + instance
                        },
                        'font-size': '10px',
                        'text-valign': 'bottom',
                        'text-wrap': 'wrap'
                    }
                }, {
                    selector: 'edge',
                    style: {
                        'width': 2,
                        'target-arrow-shape': 'triangle',
                        'curve-style': 'bezier',
                        'label': (ele) => `cnt=${ele.data('count')}`,
                        'color': (ele) => ele.source().data('tag.color'),
                        'line-color': (ele) => ele.source().data('tag.color'),
                        'target-arrow-color': (ele) => ele.source().data('tag.color')
                    }
                }],

                elements: {
                    nodes: nodes,
                    edges: links
                }
            });

            chartLoaded = true;
        })

        function showTags(index, propName) {
            const span = vTreeTable.getRowData()[index];

            let formatContent = null;
            let text = span.tags[propName];
            if (propName === 'sql'
                ||
                // temporary compatible with old span Druid span data
                (span.method === 'doPost' && propName === 'query' && span.clazz.endsWith("SqlResource"))
                ||
                // temporary compatible with old clickhouse span data
                (span.method === 'query' && propName === 'statement')
            ) {
                try {
                    formatContent = `<pre>${window.sqlFormatter.format(text)}</pre>`;
                } catch (e) {
                }
            } else if (propName === 'http.uri') {
                formatContent = formatURL(text.trim());
            }

            let dlgContent;
            if (formatContent !== null) {
                dlgContent = `<nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Formatted</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Raw</a>
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">${formatContent}</div>
                  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"><pre class="word-wrap">${text}</pre></div>
                </div>`;
            } else {
                dlgContent = `<pre>${text}</pre>`;
            }
            bootbox.dialog({
                scrollable: true,
                centerVertical: true,
                size: 'xl',
                onEscape: true,
                backdrop: true,
                message: dlgContent
            });
        }

        function formatURL(url) {
            const idx = url.indexOf('?');
            if (idx === -1) {
                return `<pre>${url}\n</pre>`;
            }

            const path = url.substring(0, idx);
            const params = url.substring(idx + 1);
            if (params.length === 0) {
                return `<pre>${url}\n</pre>`;
            }

            const pairs = [];
            const paramPairs = params.split("&");
            for (let i = 0; i < paramPairs.length; i++) {
                const pair = paramPairs[i].split("=");
                const name = pair[0].trim();
                const value = decodeURIComponent(pair[1]);
                if (name === '') {
                    continue;
                }

                pairs.push({name: name, value: value});
            }
            pairs.sort((l, r) => {
                if (l.name > r.name)
                    return 1;
                if (l.name === r.name)
                    return 0;
                return -1;
            })

            let content = `<table class='table table-sm table-bordered' style='table-layout: fixed; width: 100%'>
                            <tbody>
                                <tr><td style="width: 10%"><b>http.uri.path</b></td><td>${path}</td></tr>
                                <tr><td colspan="2"><b>http.uri.params</b></td></tr>`;
            pairs.forEach((p) => {
                content += `<tr><td  class="word-wrap" style="width: 10%">${p.name}</td><td class="word-wrap">${p.value}</td></tr>`;
            });
            return content + "</tbody></table><br/>"
        }
    </script>
</div>
</body>
</html>