<!DOCTYPE HTML>
<html lang="zh_CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_common/layout}">
<head>
    <title>Bithon Tracing List</title>
    <script th:src="@{/js/component/trace/trace-list-component.js}"></script>
    <script th:src="@{/js/utils/location.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <!-- Navbar content -->
        <a class="navbar-brand" href="/web/home">Bithon</a>
    </nav>
    <div class="tab-content" id="trace-list" style="padding-top:50px">
    </div>

    <script>
        $(document).ready(() => {
            const startTime = window.queryParams["startTime"];
            const endTime = window.queryParams["endTime"];

            const filters = [];
            $.each(window.queryParams, (name, value) => {
                if (name === "startTime")
                    return;
                if (name === "endTime")
                    return;
                if(name === "appName")
                    return;
                filters.push({
                        dimension: name,
                        matcher: {
                            type: "equal",
                            pattern: value
                        }
                    }
                );
            });
            new TraceListComponent(
                $('#trace-list'),
                {
                    showApplicationName: true,

                    getQueryParams: (params) => {
                        return {
                            application: window.queryParams['appName'],
                            filters: filters,
                            startTimeISO8601: startTime,
                            endTimeISO8601: endTime
                        };
                    }
                });
        });
    </script>
</div>
</body>
</html>