<!DOCTYPE HTML>
<html lang="zh_CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/app-layout}"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <title>Bithon Alert - Create</title>

    <script th:src="@{/js/dialog.js}" type="text/javascript"></script>
    <script th:src="@{/js/utils.js}" type="text/javascript"></script>
    <script th:src="@{/js/alert/metrics-component.js}" type="text/javascript"></script>
    <script th:src="@{/js/alert/expression-dashboard-component.js}" type="text/javascript"></script>

    <script th:src="@{/lib/autocomplete/autoComplete.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{/lib/autocomplete/autoComplete.min.css}" type="text/css"/>
</head>
<body>
<div layout:fragment="content">

    <div class="tab-pane active" id="home" role="tabpanel" style="padding:10px 0 10px 0">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width: 160px"><b>name</b></span>
            </div>
            <input class="form-control" id="name" placeholder="alert name. Must be unique."/>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width: 160px"><b>application</b></span>
            </div>
            <select class="form-control" id="appName">
            </select>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width: 160px"><b>expression</b></span>
            </div>
            <div class="custom-file"
                 style="display: inline-block"> <!--Override .input-group>.custom-file -->
                <input class="form-control" id="expression"/>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" id="parse" type="button">Parse</button>
            </div>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width: 160px"><b>for</b></span>
            </div>
            <input class="form-control" id="for" value="3"/>
            <div class="input-group-append">
                <select id="forUnit" class="form-control">
                    <option selected value="m">Minute</option>
                    <option value="h">Hour</option>
                </select>
            </div>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width: 160px"><b>every</b></span>
            </div>
            <input class="form-control" id="every" value="1"/>
            <div class="input-group-append">
                <select id="everyUnit" class="form-control">
                    <option selected value="m">Minute</option>
                    <option value="h">Hour</option>
                </select>
            </div>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width: 160px"><b>notification</b></span>
            </div>
            <select class="form-control" id="notifications"></select>
        </div>
        <div>
            <pre id="payload"></pre>
        </div>
        <div id="metricSection"></div>
        <div class="sub-btn-panel text-center">
            <hr>
            <button class="btn btn-primary" onclick="create()" type="submit">Create</button>
            <button class="btn btn-info" onclick="history.back();" type="button">Cancel</button>
        </div>
    </div>

    <script type="text/javascript">
        function create() {
            const name = $("#name").val().trim();
            const appName = $("#appName").val().trim();
            const expression = $("#expression").val().trim();
            const every = $("#every").val().trim();
            const forValue = $("#for").val().trim();
            const notification = $("#notifications").select2('data');

            if (name === '') {
                bootbox.alert({
                    backdrop: true,
                    title: "Error",
                    message: 'Name cannot be empty'
                });
                return;
            }
            if (expression === '') {
                bootbox.alert({
                    backdrop: true,
                    title: "Error",
                    message: 'expression cannot be empty'
                });
                return;
            }
            if (every === '') {
                bootbox.alert({
                    backdrop: true,
                    title: "Error",
                    message: '\'every\' cannot be empty'
                });
                return;
            }
            if (forValue === '') {
                bootbox.alert({
                    backdrop: true,
                    title: "Error",
                    message: '\'for\' cannot be empty'
                });
                return;
            }
            if (notification === undefined || notification.length === 0) {
                bootbox.alert({
                    backdrop: true,
                    title: "Error",
                    message: '\'notification\' cannot be empty'
                });
                return;
            }

            $.ajax({
                type: "POST",
                url: "/api/alerting/alert/create",
                async: false,
                data: JSON.stringify({
                    name: name,
                    appName: appName,
                    expr: expression,
                    every: every + $('#everyUnit').val(),
                    for: forValue + $('#forUnit').val(),
                    notifications: notification.map((n) => n.text)
                }),
                dataType: "json",
                contentType: "application/yaml",
                success: (data) => {
                    if (data.code !== 200) {
                        bootbox.alert({
                            backdrop: true,
                            title: "Error",
                            message: data.message
                        });
                        return;
                    }
                    bootbox.alert({
                        backdrop: true,
                        message: "Alert successfully created."
                    });
                },
                error: (data) => {
                    let message = '';
                    if (data.responseJSON == null) {
                        message = data.responseText
                    } else {
                        $.each(data.responseJSON, (p, v) => {
                            if (v !== null) {
                                message += '<b>' + p + '</b>';
                                message += ': ';
                                message += v;
                                message += '\n';
                            }
                        });
                    }

                    bootbox.alert({
                        backdrop: true,
                        title: "Error",
                        message: '<pre>' + message + '</pre>'
                    });
                }
            });
        }

        const g_ExpressionDashboard = new ExpressionDashboardComponent('metricSection');

        function renderExpression(checkApp) {
            const expr = $('#expression').val();
            const appName = $('#appName').val();
            if (checkApp && expr === '') {
                bootbox.alert({
                    backdrop: true,
                    title: "Error",
                    message: '<pre>expression is not provided</pre>'
                });
                return;
            }

            g_ExpressionDashboard.renderExpression(
                expr,
                appName,
            );
        }

        $(document).ready(() => {
            const autoCompleteJS = new autoComplete({
                selector: "#expression",
                debounce: 100,
                trigger: (query) => {
                    return true;
                },
                data: {
                    src: async (query) => {
                        try {
                            // Fetch External Data Source
                            const source = await fetch('/api/alerting/alert/suggest', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({expression: query})
                            });
                            const data = await source.json();
                            return data.suggestions.sort((a, b) => {
                                return a.text.localeCompare(b.text);
                            });
                        } catch (error) {
                            return error;
                        }
                    },
                    cache: false
                },
                placeHolder: "Use SPACE or ARROW DOWN to suggest",
                resultsList: {
                    element: (list, data) => {
                    },
                    maxResults: 100,
                    noResults: true,
                    tabSelect: true
                },
                resultItem: {
                    element: (item, data) => {
                        // Modify Results Item Style
                        item.style = "display: flex; justify-content: space-between;";
                        // Modify Results Item Content
                        item.innerHTML = `
      <span style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
        ${data.match}
      </span>
      <span style="display: flex; align-items: center; font-size: 13px; font-weight: 100; text-transform: uppercase; color: rgba(0,0,0,.2);">
        ${data.key}
      </span>`;
                    },
                    highlight: true
                },
                searchEngine: (query, record) => {
                    // Override the default search engine,
                    return record.text;
                },
                events: {
                    input: {
                        input: () => {
                            // Override the input event to disable the suggestion on key in
                        },
                        keydown: (evt) => {
                            if (evt.ctrlKey || evt.altKey || evt.metaKey) {
                                console.log(evt);
                                return;
                            }

                            if (evt.key === 'ArrowDown') {
                                const input = autoCompleteJS.input;
                                const current = input.value.substring(0, input.selectionStart)
                                autoCompleteJS.start(current);
                                return;
                            }

                            // Check if the input is part of identifier
                            const ascii = evt.key.charCodeAt(0);
                            if (ascii >= 0x30 && ascii <= 0x39
                                // A-Z
                                || (ascii >= 65 && ascii < 65 + 26)
                                // a-z
                                || (ascii >= 97 && ascii < 97 + 26)
                                || (ascii === '_'.charCodeAt(0))
                                || (ascii === '-'.charCodeAt(0))
                                || (ascii === '$'.charCodeAt(0))) {
                                // For letter and digits input, disable the suggestion
                                return;
                            }


                            if (evt.key.length === 1) {
                                // Other printable characters, enable the suggestion
                                autoCompleteJS.start(autoCompleteJS.input.value + evt.key);
                            }
                        }
                    }
                }
            });
            autoCompleteJS.input.addEventListener("selection", (event) => {
                const feedback = event.detail;

                // match is the value returned from 'searchEngine' above
                autoCompleteJS.input.value += feedback.selection.match;
                autoCompleteJS.input.focus();
            });

            $('#expression').keydown((e) => {
                if (e.keyCode === 13) {
                    renderExpression(true);
                }
            });
            $('#parse').click(() => {
                renderExpression(true);
            });

            $('#appName').select2({
                theme: 'bootstrap4',
                allowClear: true,
                dropdownAutoWidth: true,
                placeholder: '(optional) select application',
                ajax: {
                    cache: true,
                    url: apiHost + "/api/meta/getMetadataList",
                    data: (params) => {
                        return JSON.stringify({type: 'APPLICATION', search: params.term});
                    },
                    type: "POST",
                    async: true,
                    dataType: "json",
                    contentType: "application/json",
                    processResults: (data) => {
                        return {
                            results: data.map(app => {
                                return {
                                    "id": app.applicationName,
                                    "text": app.applicationName,
                                    "search": app.applicationName.toLowerCase()
                                };
                            })
                        };
                    }
                }
            }).on('change', () => renderExpression(false));

            $('#notifications').select2({
                theme: 'bootstrap4',
                allowClear: true,
                multiple: true,
                dropdownAutoWidth: true,
                placeholder: 'select notification channel',
                ajax: {
                    cache: true,
                    url: apiHost + "/api/alerting/channel/names",
                    type: "POST",
                    async: true,
                    dataType: "json",
                    contentType: "application/json",
                    data: (params) => {
                        return JSON.stringify({name: params.term});
                    },
                    processResults: (data) => {
                        // Transforms the top-level key of the response object from 'items' to 'results'
                        return {
                            results: data.channels.map((channel) => {
                                return {
                                    id: channel,
                                    text: channel,
                                    search: channel
                                }
                            })
                        };
                    }
                }
            });
        });
    </script>
</div>
</body>
</html>
