<!DOCTYPE HTML>
<html lang="zh_CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Bithon</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- JQuery -->
    <script type="text/javascript" th:src="@{/lib/jquery3.5.1/jquery-3.5.1.js}"></script>
    <script type="text/javascript" th:src="@{/lib/jquery-validation.1.19.2/jquery.validate.js}"></script>

    <!-- moment -->
    <script type="text/javascript" th:src="@{/lib/moment/moment-with-locales.min-2.29.1.js}"></script>
    <script type="text/javascript" th:src="@{/lib/moment-timezone/moment-timezone-0.5.34.js}"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" th:src="@{/lib/popper-2.9/popper.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap4.6/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/lib/bootstrap4.6/js/bootstrap.min.js}"></script>

    <!-- bootbox code -->
    <script type="text/javascript" th:src="@{/lib/bootbox/bootbox.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/bootbox/bootbox.locales.min.js}"></script>

    <!-- bootstrap table -->
    <script type="text/javascript" th:src="@{/lib/bootstrap-table/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/bootstrap-table/locale/bootstrap-table-en-US.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/bootstrap-table/extensions/sticky-header/bootstrap-table-sticky-header.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/bootstrap-table/extensions/filter-control/bootstrap-table-filter-control.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-table/bootstrap-table.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-table/extensions/sticky-header/bootstrap-table-sticky-header.min.css}"/>

    <link rel="stylesheet" th:href="@{/lib/fontawesome5.15.2/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/lib/custom-scrollbar/jquery.mCustomScrollbar.min.css}">
    <link rel="stylesheet" th:href="@{/lib/pro-sidebar/src/css/main.css}">
    <link rel="stylesheet" th:href="@{/lib/pro-sidebar/src/css/sidebar-themes.css}">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>

    <!-- datetime picker -->
    <script th:src="@{/lib/tempus-dominus/tempus-dominus.js}"></script>
    <script th:src="@{/lib/tempus-dominus/jQuery-provider.js}"></script>
    <link rel="stylesheet" th:href="@{/lib/tempus-dominus/tempus-dominus.css}">

    <!-- bootstrap select -->
    <script th:src="@{/lib/select2-4.0.13/js/select2.js}"></script>
    <link rel="stylesheet" th:href="@{/lib/select2-4.0.13/css/select2.min.css}">
    <link rel="stylesheet" th:href="@{/lib/select2-4.0.13/css/select2-bootstrap4.min.css}">

    <link rel="stylesheet" th:href="@{/css/site.css}">

    <script th:src="@{/js/component/searchbar.js}"></script>
    <script th:src="@{/lib/echarts5.0.1/echarts.min.js}"></script>
    <script th:src="@{/js/card-component.js}"></script>
    <script th:src="@{/js/chart-component.js}"></script>
    <script th:src="@{/js/utils/number.js}"></script>
    <script th:src="@{/js/utils/time.js}"></script>
    <script th:src="@{/js/utils/location.js}"></script>

    <script th:inline="javascript">
        const apiHost = [[${apiHost}]];
        let g_SelectedApp = window.queryParams['appName'];
        let g_SelectedInstance = window.queryParams['instanceName'];
        let g_MetricSelectedInterval = window.queryParams['interval'];
    </script>
    <script th:src="@{/js/api-client/schema-api.js}"></script>
    <script th:src="@{/js/component/dashboard.js}"></script>
    <script th:src="@{/js/component/table.js}"></script>
    <script th:src="@{/lib/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
    <script th:src="@{/lib/pro-sidebar/src/js/main.js}"></script>
    <script th:src="@{/js/api-client/metadata-client.js}"></script>
    <script th:src="@{/js/api-client/dashboard-api.js}"></script>
    <script th:src="@{/js/component/sidebar.js}"></script>
    <script th:src="@{/js/component/auto-refresher.js}"></script>
    <script th:src="@{/js/component/time-span-selector.js}"></script>
    <script th:src="@{/js/component/selector.js}"></script>

    <style>
        li a {
            cursor: pointer
        }
    </style>
    <script>
        function redirect(url, newWindow) {
            url += '?';
            if (g_SelectedApp !== undefined && g_SelectedApp !== null) {
                url += 'appName=' + g_SelectedApp;
            }
            if (g_SelectedInstance !== undefined && g_SelectedInstance !== null) {
                url += `&instanceName=${g_SelectedInstance}`;
            }
            if (g_MetricSelectedInterval !== undefined && g_MetricSelectedInterval !== null) {
                url += `&interval=${g_MetricSelectedInterval}`;
            }
            if (newWindow) {
                window.open(url);
            } else {
                window.location = url;
            }
        }
    </script>
</head>
<body>

<div class="page-wrapper cool-theme sidebar-bg bg1 toggled">
    <nav id="sidebar" class="sidebar-wrapper cool-theme" style="padding-top:57px">
        <div class="sidebar-content">
            <!-- sidebar-menu  -->
            <div class=" sidebar-item sidebar-menu">
                <ul>
                    <li class="sidebar">
                        <a href="/web/home">
                            <i class="fa fa-home"></i>
                            <span class="menu-text">Home</span>
                        </a>
                    </li>
                    <li class="sidebar">
                        <a onclick="redirect('/web/topo')">
                            <i class="fa fa-tachometer-alt"></i>
                            <span class="menu-text">Topo</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a class="metrics-anchor" href="#">
                            <i class="fa fa-tachometer-alt"></i>
                            <span class="menu-text">Metrics</span>
                            <!--                            <span class="badge badge-pill badge-warning">New</span>-->
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li id="metricFolder">
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="sidebar-dropdown tracing">
                        <a class="tracing-anchor" href="#">
                            <i class="far fa-gem"></i>
                            <span class="menu-text">Tracing</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a onclick="redirect('/web/trace/list')">Logs</a>
                                </li>
                                <li>
                                    <a onclick="redirect('/web/trace/profiling')">Profiling</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="sidebar-dropdown">
                        <a class="log-anchor" href="#">
                            <i class="fa fa-tachometer-alt"></i>
                            <span class="menu-text">Logs</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li id="logFolder">
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="sidebar">
                        <a onclick="redirect('/web/event')">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="menu-text">Event</span>
                        </a>
                    </li>

                    <li class="sidebar-dropdown alerting">
                        <a class="alerting-anchor" href="#">
                            <i class="far fa-gem"></i>
                            <span class="menu-text">Alerting</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a onclick="redirect('/web/alerting/alert/list')">Alerts</a>
                                </li>
                                <li>
                                    <a onclick="redirect('/web/alerting/channel/list')">Notification Channels</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="sidebar">
                        <a onclick="redirect('/web/diagnosis/diagnosis')">
                            <i class="fa fa-diagnoses"></i>
                            <span class="menu-text">Diagnosis</span>
                        </a>
                    </li>

                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!--         sidebar-footer-->
        <div class="sidebar-footer">
            <!--                    <div class="dropdown">-->

            <!--                        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--                            <i class="fa fa-bell"></i>-->
            <!--                            <span class="badge badge-pill badge-warning notification">3</span>-->
            <!--                        </a>-->
            <!--                        <div class="dropdown-menu notifications" aria-labelledby="dropdownMenuMessage">-->
            <!--                            <div class="notifications-header">-->
            <!--                                <i class="fa fa-bell"></i>-->
            <!--                                Notifications-->
            <!--                            </div>-->
            <!--                            <div class="dropdown-divider"></div>-->
            <!--                            <a class="dropdown-item" href="#">-->
            <!--                                <div class="notification-content">-->
            <!--                                    <div class="icon">-->
            <!--                                        <i class="fas fa-check text-success border border-success"></i>-->
            <!--                                    </div>-->
            <!--                                    <div class="content">-->
            <!--                                        <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing-->
            <!--                                            elit. In totam explicabo-->
            <!--                                        </div>-->
            <!--                                        <div class="notification-time">-->
            <!--                                            6 minutes ago-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                </div>-->
            <!--                            </a>-->
            <!--                            <a class="dropdown-item" href="#">-->
            <!--                                <div class="notification-content">-->
            <!--                                    <div class="icon">-->
            <!--                                        <i class="fas fa-exclamation text-info border border-info"></i>-->
            <!--                                    </div>-->
            <!--                                    <div class="content">-->
            <!--                                        <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing-->
            <!--                                            elit. In totam explicabo-->
            <!--                                        </div>-->
            <!--                                        <div class="notification-time">-->
            <!--                                            Today-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                </div>-->
            <!--                            </a>-->
            <!--                            <a class="dropdown-item" href="#">-->
            <!--                                <div class="notification-content">-->
            <!--                                    <div class="icon">-->
            <!--                                        <i class="fas fa-exclamation-triangle text-warning border border-warning"></i>-->
            <!--                                    </div>-->
            <!--                                    <div class="content">-->
            <!--                                        <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing-->
            <!--                                            elit. In totam explicabo-->
            <!--                                        </div>-->
            <!--                                        <div class="notification-time">-->
            <!--                                            Yesterday-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                </div>-->
            <!--                            </a>-->
            <!--                            <div class="dropdown-divider"></div>-->
            <!--                            <a class="dropdown-item text-center" href="#">View all notifications</a>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                    <div class="dropdown">-->
            <!--                        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--                            <i class="fa fa-envelope"></i>-->
            <!--                            <span class="badge badge-pill badge-success notification">7</span>-->
            <!--                        </a>-->
            <!--                        <div class="dropdown-menu messages" aria-labelledby="dropdownMenuMessage">-->
            <!--                            <div class="messages-header">-->
            <!--                                <i class="fa fa-envelope"></i>-->
            <!--                                Messages-->
            <!--                            </div>-->
            <!--                            <div class="dropdown-divider"></div>-->
            <!--                            <a class="dropdown-item" href="#">-->
            <!--                                <div class="message-content">-->
            <!--                                    <div class="pic">-->
            <!--                                        <img src="img/user.jpg" alt="">-->
            <!--                                    </div>-->
            <!--                                    <div class="content">-->
            <!--                                        <div class="message-title">-->
            <!--                                            <strong> Jhon doe</strong>-->
            <!--                                        </div>-->
            <!--                                        <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing-->
            <!--                                            elit. In totam explicabo-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                </div>-->

            <!--                            </a>-->
            <!--                            <a class="dropdown-item" href="#">-->
            <!--                                <div class="message-content">-->
            <!--                                    <div class="pic">-->
            <!--                                        <img src="img/user.jpg" alt="">-->
            <!--                                    </div>-->
            <!--                                    <div class="content">-->
            <!--                                        <div class="message-title">-->
            <!--                                            <strong> Jhon doe</strong>-->
            <!--                                        </div>-->
            <!--                                        <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing-->
            <!--                                            elit. In totam explicabo-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                </div>-->

            <!--                            </a>-->
            <!--                            <a class="dropdown-item" href="#">-->
            <!--                                <div class="message-content">-->
            <!--                                    <div class="pic">-->
            <!--                                        <img src="img/user.jpg" alt="">-->
            <!--                                    </div>-->
            <!--                                    <div class="content">-->
            <!--                                        <div class="message-title">-->
            <!--                                            <strong> Jhon doe</strong>-->
            <!--                                        </div>-->
            <!--                                        <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing-->
            <!--                                            elit. In totam explicabo-->
            <!--                                        </div>-->
            <!--                                    </div>-->
            <!--                                </div>-->
            <!--                            </a>-->
            <!--                            <div class="dropdown-divider"></div>-->
            <!--                            <a class="dropdown-item text-center" href="#">View all messages</a>-->

            <!--                        </div>-->
            <!--                    </div>-->
            <!--                    <div class="dropdown">-->
            <!--                        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--                            <i class="fa fa-cog"></i>-->
            <!--                            <span class="badge-sonar"></span>-->
            <!--                        </a>-->
            <!--                        <div class="dropdown-menu" aria-labelledby="dropdownMenuMessage">-->
            <!--                            <a class="dropdown-item" href="#">My profile</a>-->
            <!--                            <a class="dropdown-item" href="#">Help</a>-->
            <!--                            <a class="dropdown-item" href="#">Setting</a>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <div>
                <a href="#" id="pin-sidebar">
                    <i class="fas fa-thumbtack"></i>
                </a>
            </div>
            <div class="pinned-footer">
                <a href="#">
                    <i class="fas fa-thumbtack"></i>
                </a>
            </div>
        </div>
    </nav>
    <!-- page-content  -->
    <main class="page-content" style="padding-top:57px!important">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <!-- Navbar content -->
            <a class="navbar-brand" href="/web/home">Bithon</a>
        </nav>
        <div id="overlay" class="overlay"></div>
        <nav id="filterContainer" class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left: 5px; padding-right: 5px">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0" id="filterBar">
                </ul>
                <form class="form-inline my-2 my-lg-0" id="filterBarForm">
                    <!-- Auto Refresher -->

                    <!-- TimeSpanSelector Component -->
                </form>
            </div>
        </nav>

        <div style="padding-top: 10px; padding-left: 5px; padding-right: 5px" layout:fragment="content"></div>
    </main>
    <!-- page-content" -->
</div>
</body>
<script th:inline="javascript">
    let gIsLoaded = false;
    $(document).ready(() => {
        // Some jQuery API would trigger the document to enter this event again
        // We need to prevent it
        if (gIsLoaded)
            return;

        if (window.location.href.indexOf('/web/metrics/') > 0) {
            $('.metrics-anchor').click();
        } else if (window.location.href.indexOf('/web/trace/') > 0) {
            $('.tracing-anchor').click();
        } else if (window.location.href.indexOf('/web/alerting/') > 0) {
            $('.alerting-anchor').click();
        }
        $('.page-wrapper').bind('pinned', () => {
            const handler = window.setInterval(() => {
                $(window).trigger('resize');
                window.clearInterval(handler);
            }, 300);
        }).bind('unpinned', () => {
            const handler = window.setInterval(() => {
                $(window).trigger('resize');
                window.clearInterval(handler);
            }, 300);
        })
        new Sidebar("metricFolder").load('metrics', '/web/metrics', false);
        new Sidebar("logFolder").load('log', '/web/log', true);

        new SearchBar(true);

        gIsLoaded = true;
    });
</script>
</html>