<!DOCTYPE HTML>
<html lang="zh_CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/app-layout}">
<head>
    <title>Bithon Events</title>
    <script th:src="@{/lib/bootstrap-table/extensions/treegrid/bootstrap-table-treegrid.min.js}"></script>

    <script th:src="@{/js/page/event/page.js}"></script>
</head>
<body>

<div layout:fragment="content">

    <table id="table"></table>

    <script>
        new EventPage(g_SelectedApp);
    </script>
</div>
</body>
</html>