<!DOCTYPE HTML>
<html lang="zh_CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/app-layout}">
<head>
    <title>Bithon</title>
    <script th:src="@{/lib/bootstrap-table/extensions/treegrid/bootstrap-table-treegrid.min.js}"></script>
</head>
<body>
<div class="container" layout:fragment="content">
    <div id="topo"></div>
<script>

class TopoComponent {
    constructor() {
        //
        // App Filter
        //
        new AppSelector('[[${appName}]]').childOf('appSelector').registerAppChangedListener((text, value)=>{
            window.location = `/web/app/topo/${value}`;
        });

        //
        // Create TimeInterval
        //
        const parent = $('#filterBarForm');
        this._timeSelector = new TimeInterval().childOf(parent).registerIntervalChangedListener((selectedModel)=>{
            this.refreshTopo();
        });

       this._chart = new ChartComponent({
            containerId: 'topo',
            height: '600px'
       })
       .header('Application Topo');
    }

    refreshTopo() {
        const interval = this._timeSelector.getInterval();
        this._chart.load({
            url: apiHost + '/api/topo/getApplicationTopo',
            ajaxData: JSON.stringify({
                startTimeISO8601: interval.start,
                endTimeISO8601: interval.end,
                application: g_SelectedApp
            }),
            processResult: (topo)=>{
                return {
                    animationDurationUpdate: 1500,
                    animationEasingUpdate: 'quinticInOut',
                    series: [
                        {
                            type: 'graph',
                            layout: 'none',
                            symbolSize: 50,
                            roam: true,
                            label: {
                                show: true,
                                position: 'bottom'
                            },
                            edgeSymbol: ['circle', 'arrow'],
                            edgeSymbolSize: [4, 10],
                            edgeLabel: {
                                fontSize: 20
                            },
                            data: topo.endpoints.map(endpoint => {
                                return {
                                    name: endpoint.name,
                                    x: endpoint.x,
                                    y: endpoint.y,
                                    symbol: `image:///images/nodes/${endpoint.type.toLowerCase()}.png`
                                };
                            }),
                            links: topo.links.map(link => {
                                return {
                                    minRT: link.minResponseTime,
                                    maxRT: link.maxResponseTime,
                                    avgRT: link.avgResponseTime,
                                    callCount: link.callCount,
                                    source: link.srcEndpoint,
                                    target: link.dstEndpoint,
                                    label: {
                                        show: true,
                                        formatter: (val) => {
                                            return `${val.data.callCount}, Min:${nanoFormat(val.data.minRT)}, Max:${nanoFormat(val.data.maxRT)}, Avg:${nanoFormat(val.data.avgRT)}`;
                                        },
                                        fontSize: 10
                                    },
                                    lineStyle: {
                                        curveness: 0
                                    }
                                };
                            }),
                            lineStyle: {
                                opacity: 0.9,
                                width: 2,
                                curveness: 0
                            }
                        }
                    ]
                };
            }
       });
    }
}

$(document).ready(()=>{
    new TopoComponent().refreshTopo();
});

</script>
</div>
</body>
</html>