<!DOCTYPE HTML>
<html lang="zh_CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/app-layout}">
<head>
    <title>Bithon</title>
    <script th:src="@{/lib/bootstrap-table/extensions/treegrid/bootstrap-table-treegrid.min.js}"></script>
    <script th:src="@{/lib/bootstrap-table/extensions/sticky-header/bootstrap-table-sticky-header.min.js}"></script>
    <script th:src="@{/js/component/trace/trace-list-component.js}"></script>
    <script th:src="@{/js/page/trace/page.js}"></script>
</head>
<body>

<div layout:fragment="content">

    <div id="distribution"></div>
    <table id="table" style="width: 100%"></table>

    <script>
        $(document).ready(() => {
            new TracePage({
                queryParams: {appName: g_SelectedApp},
                filterExpression: "kind = 'SERVER'",
                showSelector: true
            });
        });
    </script>
</div>
</body>
</html>